/* CSS Main Menu */
*{
    margin: 0;
    padding: 0;
}
.navmenu {
	width: 100%;
	background: #28276d4d;
	display: inline-block;
}
.box{
	width: 30%;
	float: left;
	background-color: #fff;
	height: 67px;
	position: relative;
	
}
.box>p {
	text-align: right;
	padding-right: 10px ;
}



nav {
	display: none;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 0;
	background-color: #28276d;
    float: right;
}

nav li {
	display: block;
	font-size: 18px;
	color: white;
        margin: 0 5px;
        padding-left: 15px;    
}
.navbar{
	width: 70%;
}

ul.navbar>li>a {
	color: #fff;
	display: inline-block;
}

nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: inherit;
}

ul.navbar>li>a:hover {
	color: white;
	background-color: #c01f2e ;
}

@media only screen and (max-width:720px) {
	nav ul {
		width: 100%!important
	}
	
	nav a {
		padding: 5px 10px
	}
}

@media only screen and (min-width:720px) {
	#menu {
		display: none
	}
    #navbar{
    height: 50px;
    line-height: 50px;
}
	nav {
		display: block!important
	}
	nav li {
		display: inline-block
	}
    
}



@media only screen and (max-width: 720px) {
    .navmenu {
        padding: 5px;
    }
    #navbar{
         display: none;
        height: 24px;
        line-height: 24px;
    }
	.toggle-nav {
		padding: 6px 10px
	}
	
}

/* container */
.container{
     /* display : flex; */
    height: 650px;
    background-color: #28276d;
    align-items: flex-end;
	color: #fff;
	padding: 0%;
   

}
.para1{
	font-family: 'Lato', sans-serif;
	font-size: 39px;
 line-height: 1.3em; 
 padding-left: 150px;
 padding-top: 85px;
font-weight: bold;
}

.para2{
	font-family: ;
	font-size: 7em;
	padding-left: 150px;

}
.para3{
	font-size: 15px;
	padding-left: 150px;

}

.button {
	border: none;
	color: white;
	padding: 15px 32px; 
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #c01f2e ;
	position: relative;
	left: 150px;
	top: 50px;
	line-height: 1.3em; 
  }
.box1{
	height: 148px;
    width: 92vw;
	top: 115px;
	left: 40px;
    background-color: #fff;
	position: relative;      
}
