/* CSS Main Menu */
*{
    margin: 0;
    padding: 0;
}
.navmenu {
	width: 100%;
	background: #14144d;
	display: inline-block;
}
.box{
	width: 50%;
	float: left;
	background-color: #fff;
	height: 67px;
	position: relative;
	
}
.box>p {
	text-align: right;
}



nav {
	display: none;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 0;
	background-color: #222262;
    float: right;
}

nav li {
	display: block;
	font-size: 18px;
	color: white;
        margin: 0 5px;
        padding-left: 25px;    
}
.navbar{
	width: 50%;
}

ul.navbar>li>a {
	color: #fff;
	display: inline-block;
}

nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: inherit;
}


/*==Dropdown Menu==*/

.sub-menu li {
	list-style-type: none;
	display: inline-block
}

ul.navbar li ul.sub-menu {
	display: none;
	position: absolute
}

ul.navbar li {
	position: relative;
}

ul.navbar li:hover ul.sub-menu {
	display: block
}

.sub-menu li {
	margin-left: 0!important
}

ul.sub-menu>li>a {
	color: #fff;
}
ul.navbar>li>a:hover,
ul.sub-menu>li>a:hover {
	color: #66a992;
}

@media only screen and (max-width:720px) {
	nav ul {
		width: 100%!important
	}
	#sub-menu {
		display: none
	}
	nav a {
		padding: 5px 10px
	}
}

@media only screen and (min-width:720px) {
	#menu {
		display: none
	}
    #navbar{
    height: 50px;
    line-height: 50px;
}
	nav {
		display: block!important
	}
	nav li {
		display: inline-block
	}
    
}



@media only screen and (max-width: 720px) {
    .navmenu {
        padding: 5px;
    }
    #navbar{
         display: none;
        height: 24px;
        line-height: 24px;
    }
	.toggle-nav {
		padding: 6px 10px
	}
	
}

/* container */
.container{
     /* display : flex; */
    height: 650px;
    background-color: #28276d;
    align-items: flex-end;
	color: #fff;
	padding: 0%;
   

}
.box1{
	height: 148px;
    width: 92vw;
	top: 430px;
	left: 40px;
    background-color: #fff;
	position: relative;
	
    
    
}